* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none !important;
}

#menu {
    width: 85vw;
    font-size: 1rem;
}
 
#logo {
    width: 110px;
}

#title {
    color: white;
}

.textoGreen {
    text-decoration: none !important;
    color: green !important;
}

.losbotones {
    font-size: smaller !important;
}

.posicionTextoEnImg {
    text-align: right;
    top: 43% !important;
    left: 27% !important;
    width: 60% !important;
    
}

.card-img {
    opacity: 0.45!important;
    width: 100vw !important;
    height: auto;
    }

.card-title {
    width: 90%;
    font-weight: bolder;
}
.card-text {
    width: 90%;
}

.card {
    padding: 0px;
}

.card-img-top {
    
    height: auto;
    
}

.imgHonololulu {
    background-color: #353942;
    background-size: cover;
    color: white;
    width: auto;
}

.texto-fondonegro {
    width: 100%;
    font-size: medium;

}


.botonsumit {
    width: 100% !important;
    background-color: #96C93E !important;
    color: white !important ;
}

.recordatorio {
    font-size: smaller;
    color: grey;
    margin-top: 1px;
}

.texto-subrayado {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.footer {
    background: linear-gradient(to right, #1c3643,#1e5372);
}

.botonfooter{
    text-decoration: none !important;
    color: white !important;
    font-size: small !important;
    margin:2px !important ;
}

.elfooter {
    width: 90vw;
}

/*estilos hoja tickets*/
.ancho {
    max-width: 950px !important;
}

.recto {
    border-radius: 0px !important;
}

.titulo-tarjeta {
    border-bottom: none !important;
    font-weight: bolder !important;
    text-align: center !important;
    font-size: 1.25rem !important;
}

.dtc {
    font-weight: normal !important;
    font-size: 1rem !important;
    text-align: center;
}

.porcentaje {
    font-weight: bolder !important;
    text-align: center;
    font-size: 1.15rem !important;

}

.small {
    font-size: smaller !important;
}

.colorcito {
    background-color:#CCE5FF !important ;
}

.total-pagar{
    color: blue !important;
}

